@media (max-width: 371px) {
  .postman{
      font-size: 13px !important;
  }
  .form-box{
      position: relative !important;
      top: 35px !important;
  }
  .para{
      line-height: 1.2em;
  }
}

.login-form-cont{
  height: 100vh;
  padding: 15vh 27vw;
}

.login-form{
  width: 120%;
}

.button-login{
  margin: 1em 0;
  width: 100% !important;
}

.pointer{
  cursor: pointer;
}

.signup-form{
  width: 50% !important;
}